[%~

META title = "Brad Gilbert's GitHub Page";

%]
<h1><a href="[%head_url%]">[% template.title %]</a></h1>
<hr />
[%

FOR item IN include_list;
  IF $item;
    INCLUDE "inc/${item}.tt" | indent(2);
  END;
END;

-%]
<p>Feel free to contact me by <a href="https://mailnull.com/cgi-bin/webmail?au=71c5936c0836538ce7618b9ba6a5607c&rf=b2gills.github.com">email</a>.
<sup><sub>( Especially if your a web designer. )</sub></sup>
</p>
